<div class="row">
  <div class="col col-lg-12">
    <%= link_to 'Criar Orçamento', new_budget_path %><br/>
    <%= link_to 'Cadastrar Alta Temporada', new_high_season_path %><br/>
    <%= link_to 'Novo Passeio', new_tour_path %><br/>
  </div>
</div>

<br/>
<br/>



<%= form_tag(home_filter_period_path, method: :get) do %>

  <%= label_tag :filter_from, 'Desde:' %>
  <%= text_field_tag :filter_from, @start_date, :class => "form-control datepicker", :placeholder => "Desde" %>

  <%= label_tag :filter_to, 'Até:' %>
  <%= text_field_tag :filter_to, @end_date, :class => "form-control datepicker", :placeholder => "Até" %>

  <%= submit_tag "Ver Preços" %>

<% end %>



<%
  @tours.each do |tour|
    puts tour.name
    @date_range.each do |date|
      puts date
      manager = TourPriceManager.new(tour,date)
      this_price = manager.tour_price_with_season
      puts this_price.adult_price
      puts this_price.child_price
      puts this_price.baby_price
    end
  end
%>

<h2><%= "Preços para o período entre #{@start_date} e #{@end_date}" %></h2>

<table id="precos" class="table table-striped">



</table>



<br/>
<br/>

<div class="row">
  <div class="col col-lg-12">
    <h2>Exemplo de Formulário e Campos<h2>
      <form class="standard form">
        <div class="row">
          <div class="form-group col-lg-6">
            <label for="start_date">Desde:</label>
            <input type="text" class="form-control datepicker" id="start_date" placeholder="Data de Chegada">
          </div>
          <div class="form-group col-lg-6">
            <label for="end_date">Até:</label>
            <input type="text" class="form-control datepicker" id="end_date" placeholder="Data de Saída">
          </div>
        </div>
        <fieldset class="form-group">
          <legend>Escolha Passeios</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Passeio1
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Passeio2
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Passeio3
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Passeio4
            </label>
          </div>
        </fieldset>
        <div class="row">
          <div class="form-group col-lg-4">
            <label for="exampleSelect1">Adultos</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
          <div class="form-group col-lg-4">
            <label for="exampleSelect1">Crianças</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
          <div class="form-group col-lg-4">
            <label for="exampleSelect1">Bebês</label>
            <select class="form-control" id="exampleSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Mais Detalhes</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">E-mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>

<br/>

<div class="row">
  <div class="col col-lg-12">
    <h2>Exemplo de Tabela de Preços<h2>
      <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:40%">
            Nome do Passeio
          </th>
          <th style="width:20%">
            2017-03-10<br/>
            Baixa
          </th>
          <th style="width:20%">
            2017-03-11<br/>
            ALTA
          </th>
          <th style="width:20%">
            2017-03-12<br/>
            ALTA
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Flutuação Rio Sucuri</td>
          <td>
            <strong>Adulto:</strong> 130<br/>
            <strong>Criança:</strong> 100<br/>
            <strong>Bebê:</strong> 30<br/>
          </td>
          <td>
            <strong>Adulto:</strong> 160<br/>
            <strong>Criança:</strong> 130<br/>
            <strong>Bebê:</strong> 60<br/>
          </td>
          <td>
            <strong>Adulto:</strong> 160<br/>
            <strong>Criança:</strong> 130<br/>
            <strong>Bebê:</strong> 60<br/>
          </td>
        </tr>
        <tr>
          <td>Cachoeira Boca da Onça</td>
          <td>
            <strong>Adulto:</strong> 130<br/>
            <strong>Criança:</strong> 100<br/>
            <strong>Bebê:</strong> 30<br/>
          </td>
          <td>
            <strong>Adulto:</strong> 160<br/>
            <strong>Criança:</strong> 130<br/>
            <strong>Bebê:</strong> 60<br/>
          </td>
          <td>
            <strong>Adulto:</strong> 160<br/>
            <strong>Criança:</strong> 130<br/>
            <strong>Bebê:</strong> 60<br/>
          </td>
        </tr>
        <tr>
          <td>Rapel Abismo Anhumas</td>
          <td>
            <strong>Adulto:</strong> 1080<br/>
            <strong>Criança:</strong> 1080<br/>
            <strong>Bebê:</strong> 1080<br/>
          </td>
          <td>
            <strong>Adulto:</strong> 1410<br/>
            <strong>Criança:</strong> 1410<br/>
            <strong>Bebê:</strong> 1410<br/>
          </td>
          <td>
            <strong>Adulto:</strong> 1410<br/>
            <strong>Criança:</strong> 1410<br/>
            <strong>Bebê:</strong> 1410<br/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
