<%= link_to 'Criar Orçamento', new_budget_path %>
<%= link_to 'Cadastrar Alta Temporada', new_high_season_path %>
<%= link_to 'Novo Passeio', new_tour_path %>

<%= form_tag(home_filter_period_path, method: :get) do %>

  <%= label_tag :filter_from, 'Desde:' %>
  <%= text_field_tag :filter_from, @from, :class => "form-control datepicker", :placeholder => "Desde" %>

  <%= label_tag :filter_to, 'Até:' %>
  <%= text_field_tag :filter_to, @to, :class => "form-control datepicker", :placeholder => "Até" %>

  <%= submit_tag "Ver Preços" %>

<% end %>

<table id="passeios" class="table table-striped">
  <tr>
      <th>Nome</th>
      <th>Atrativo</th>
      <th>Categoria</th>
      <th>Site</th>
  </tr>
  <% @tours.each do |tour| %>
    <tr>
      <td><%= link_to tour.name, tour_path(tour) %></td>
      <td><%= tour.attraction %></td>
      <td><%= tour.category.name %></td>
      <td><%= link_to tour.site, tour.site %></td>
   </tr>
  <% end %>
</table>
