<h1><%= @tour.name %></h1>

<span><%= @tour.description %></span>
<span><%= @tour.category.name %></span>
<span><%= @tour.attraction %></span>
<span><%= @tour.duration %></span>
<span><%= @tour.adult_price %></span>
<span><%= @tour.child_price %></span>
<span><%= @tour.baby_price %></span>
<span><%= @tour.distance %></span>
