<h1><%= @tour.name %></h1>

<span><%= @tour.description %></span>
<span><%= @tour.category.name %></span>
<span><%= @tour.attraction %></span>
<span><%= @tour.duration %></span>
<span><%= @tour.distance %></span>
<span><%= @tour.site %></span>
