<h1><%= @price.tour.name %></h1>

<span><%= @price.start_date %></span>
<span><%= @price.end_date %></span>
<span><%= @price.adult_price %></span>
<span><%= @price.child_price %></span>
<span><%= @price.baby_price %></span>
<span><%= @price.season_type %></span>
