<!DOCTYPE html>
<html>
  <head>
    <base href="http://localhost:3000/" target="_self">
    <title>VivaBonito</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style media="screen">
      body {padding-bottom: 70px; }
      .container-fluid .row {
        margin-top: 30px;
      }
    </style>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'layouts/admin/header' %>

      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <%= yield %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        </div>
      </div>
      <%= render 'layouts/admin/footer' %>
    </div>
  </body>
</html>
