<!DOCTYPE html>
<html>
  <head>
    <base href="http://localhost:3000/" target="_blank">
    <title>VivaBonito</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: #ffffff !important;">
                  VivaBonito - Simplificando os preços de Bonito MS para você!
                </a>
            </div>
        </div>
    </nav>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style=" width:100%; max-height: 500px !important;">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container" style="height:300px;">
            <img alt="Flutuação Nascente Azul" src="https://admin.h2oecoturismo.com.br/files/produtos/nascente-azul-coracao-h2o-ecoturismo_47078376_800x600.jpg" style="display:block;margin:auto;margin-top:-75px;">
          </div>
        </div>
        <div class="item">
          <div class="container" style="height: 300px">
            <img alt="Boia Cross Rio Formoso" src="https://admin.h2oecoturismo.com.br/files/produtos/boia-cross-rio-formoso-h2o-ecoturismo_61926707_800x600.jpg" style="display:block;margin:auto;margin-top:-75px;">
          </div>
        </div>
        <div class="item">
          <div class="container" style="height: 300px">
            <img alt="Mergulho Lagoa Misteriosa" src="https://admin.h2oecoturismo.com.br/files/produtos/passeio-bonito-jardim-ms-lagoa-misteriosa-mergulho-mergulhadores_50975306_800x600.jpg" style="display:block;margin:auto;margin-top:-150px;">
          </div>
        </div>
        <div class="item">
          <div class="container" style="height: 300px">
            <img alt="Cachoeiras Boca da Onça" src="https://admin.h2oecoturismo.com.br/files/produtos/boca-da-onca-h2o-ecoturismoimg4415_22885143.JPG" style="display:block;margin:auto;margin-top:-200px;">
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="container" style="min-height:500px;width:60%;">
      <%= yield %>
    </div>

    <footer class="navbar navbar-inverse">
      <div class="row" style="align: center">
        <style>
          footer {color: #919191 !important; }
          a:link { color: #919191 !important; }
          a:hover { color: #ffffff !important; }
          a:visited { color: #636363 !important; }
        </style>
        <table id="passeios-rodape" style="margin: auto;width:100%">
          <tr>
            <th style="width: 16.5%;"></th>
            <th style="width: 20%; text-align: right">Nome do Passeio</th>
            <th style="width: 10%; text-align: center">Categoria</th>
            <th style="width: 17%; text-align: left">Atrativo</th>
            <th style="width: 20%; text-align: left">Site Institucional</th>
            <th style="width: 16.5%;"></th>
          </tr>
          <% @tours.each do |tour| %>
            <tr>
              <td></td>
              <td style="text-align: right"><%= link_to tour.name, tour_path(tour) %></td>
              <td style="text-align: center"><%= tour.category.name %></td>
              <td style="text-align: left"><%= tour.attraction %></td>
              <td style="text-align: left"><%= link_to tour.site, tour.site %></td>
              <td></td>
           </tr>
          <% end %>
        </table>
      </div>
      <br/>
      <div class="row" style="text-align: center">
          <div class="col-lg-12">
              <p>&copy; VivaBonito - Campus Code - <a href="https://campuscode.com.br/imersao-web">Imersão Web<a></p>
          </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
